<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Admin login</title>
</head>


<body>
  <form action = "/adminreg" onsubmit="return verifyPassword()" class="form-signin" method="POST">
    <div class="log_in_page center">
      <p class="text_color">Admin login</p>
      <img class="car-img" src="/pics/nbulogo.png" alt="NBU logo">
      <div class="input-group mb-3 input_placer">
        <span class="input-group-text" id="basic-addon1">🆔</span>
        <input type="email" name="username" class="form-control" placeholder="Username">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">🔑</span>
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="w-100 btn btn-lg btn-primary buttom_margin" onsubmit="verifyPassword()" type="submit" method="post">Log-in</button>
      </div>
    </div>
  </form>

</body>

</html>
