<%- include('partials/header') %>


    <div class="box">
    <h1>Alumni management system</h1>
    <h2>Department of Computer science and Application</h2>
    <h2>University of Northbengal</h2>
    <h4>Raja Rammohanpur, Darjeeling</h4>
</div>

<div class="signup">
  If you are an alumni of CSA department Please register yourself.<br>
     <a href="signup">Signup</a>
</div>
<div class="login">
  Already signed up!!<br>
  <a href="login">Login</a>
</div>
<div class="login">
  Admin log-in<br>
  <a href="admin">Login</a>
</div>
<%- include('partials/footer') %>
